{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Radu Cristian Vasile</h1>
        <h2>Profile</h2>
        <p style="font-size:25px" style="serif"> I am a student attending Computer Science course at University of
            Birmingham, I chose this competitve environment because I want to prove I can face any challenge. I want to
            devepole as many skills as I can in order to be the best version of myself. </p>
        <h2>Education</h2>
        <p style="font-size:25px" style="serif">2019-Present, University of Birmingham: BSc Computer Science</p>
        <p style="font-size:25px" style="serif">2017-2018, Politehnica University of Bucharest, Faculty of Engineering
            in Foreign Languages: BSc Computer and Information
            Technology , Bucharest, Romania</p>
        <p style="font-size:25px" style="serif">2013-2017, National Bilingual College "George Cosbuc", Bucharest,
            Romania </p>
        <h3>Language and Comunication</h3>
        <ul>
            <li style="font-size:20px" style="serif">English - fluent - IELTS 7.0/9</li>
            <li style="font-size:20px" style="serif">Romanian - native</li>
        </ul>
        <h2>Personal projects</h2>
        <p style="font-size:25px" style="serif">(in progress) Web Portofolio - My online website, where I used
            Python and Django framework to develop this website, also experimenting with new HTML templates and CSS
            stylesheets to alter the look-and-feel of my site. </p>
        <h2>Volunteering</h2>
        <p style="font-size:25px" style="serif"><b>Oct - Dec 2017 - EVENT COORDINATOR - National Bilingual
                College "George Cosbuc", Bucharest, Romania</b> <br />
            During this period I had to supervise the assistants, prepare when, where and how miss&mister participants
            enter the stage, what challenges they should have on stage, discuss with our main coordinator what clubs to
            choose, ticket prices, artists we should bring.
        </p>
        <p style="font-size:25px" style="serif"><b>Oct - Dec 2016 - EVENT COORDINATOR ASSISTANT - National Bilingual
                College "George Cosbuc", Bucharest, Romania</b> <br />
            As am event coordinator assistant, I had to prepare the miss&mister candidates for their prom, teaching them
            the right posture, attitude and build their self esteem. </p>

    </div>
</div>


{% endblock %}